.marquee-page1,
.marquee-page2,
.marquee-page3 {
  height: 100vh;
  width: 100%;
  padding: 5vw 0;
}

.marquee-move {
  background-color: #d8ff04;
  display: flex;
  padding: 3vw 0;
  overflow: hidden;
}

.marquee-line {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 3vw;
  padding: 0 1.5vw;
  transform: translateX(-100%);
}

.marquee-line h1 {
  font-size: 4vw;
}

.marquee-line img {
  height: 4vw;
}
